<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>智慧教育</title>


	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="/static/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="/static/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="/static/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="/static/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="/static/media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="/static/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="/static/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="/static/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link rel="stylesheet" type="text/css" href="/static/media/css/select2_metro.css" />

	<link rel="stylesheet" type="text/css" href="/static/media/css/chosen.css" />

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="/static/media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="index.html">

				<img src="/static/media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="/static/media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					<!-- BEGIN NOTIFICATION DROPDOWN -->   

					<li class="dropdown" id="header_notification_bar">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<i class="icon-warning-sign"></i>

						<span class="badge">6</span>

						</a>

						<ul class="dropdown-menu extended notification">

							<li>

								<p>You have 14 new notifications</p>

							</li>

							<li>

								<a href="#">

								<span class="label label-success"><i class="icon-plus"></i></span>

								New user registered. 

								<span class="time">Just now</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="label label-important"><i class="icon-bolt"></i></span>

								Server #12 overloaded. 

								<span class="time">15 mins</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="label label-warning"><i class="icon-bell"></i></span>

								Server #2 not respoding.

								<span class="time">22 mins</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="label label-info"><i class="icon-bullhorn"></i></span>

								Application error.

								<span class="time">40 mins</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="label label-important"><i class="icon-bolt"></i></span>

								Database overloaded 68%. 

								<span class="time">2 hrs</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="label label-important"><i class="icon-bolt"></i></span>

								2 user IP blocked.

								<span class="time">5 hrs</span>

								</a>

							</li>

							<li class="external">

								<a href="#">See all notifications <i class="m-icon-swapright"></i></a>

							</li>

						</ul>

					</li>

					<!-- END NOTIFICATION DROPDOWN -->

					<!-- BEGIN INBOX DROPDOWN -->

					<li class="dropdown" id="header_inbox_bar">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<i class="icon-envelope"></i>

						<span class="badge">5</span>

						</a>

						<ul class="dropdown-menu extended inbox">

							<li>

								<p>You have 12 new messages</p>

							</li>

							<li>

								<a href="inbox.html?a=view">

								<span class="photo"><img src="/static/media/image/avatar2.jpg" alt="" /></span>

								<span class="subject">

								<span class="from">Lisa Wong</span>

								<span class="time">Just Now</span>

								</span>

								<span class="message">

								Vivamus sed auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>  

								</a>

							</li>

							<li>

								<a href="inbox.html?a=view">

								<span class="photo"><img src="/static/media/image/avatar3.jpg" alt="" /></span>

								<span class="subject">

								<span class="from">Richard Doe</span>

								<span class="time">16 mins</span>

								</span>

								<span class="message">

								Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>  

								</a>

							</li>

							<li>

								<a href="inbox.html?a=view">

								<span class="photo"><img src="/static/media/image/avatar1.jpg" alt="" /></span>

								<span class="subject">

								<span class="from">Bob Nilson</span>

								<span class="time">2 hrs</span>

								</span>

								<span class="message">

								Vivamus sed nibh auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>  

								</a>

							</li>

							<li class="external">

								<a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>

							</li>

						</ul>

					</li>

					<!-- END INBOX DROPDOWN -->

					<!-- BEGIN TODO DROPDOWN -->

					<li class="dropdown" id="header_task_bar">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<i class="icon-tasks"></i>

						<span class="badge">5</span>

						</a>

						<ul class="dropdown-menu extended tasks">

							<li>

								<p>You have 12 pending tasks</p>

							</li>

							<li>

								<a href="#">

								<span class="task">

								<span class="desc">New release v1.2</span>

								<span class="percent">30%</span>

								</span>

								<span class="progress progress-success ">

								<span style="width: 30%;" class="bar"></span>

								</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="task">

								<span class="desc">Application deployment</span>

								<span class="percent">65%</span>

								</span>

								<span class="progress progress-danger progress-striped active">

								<span style="width: 65%;" class="bar"></span>

								</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="task">

								<span class="desc">Mobile app release</span>

								<span class="percent">98%</span>

								</span>

								<span class="progress progress-success">

								<span style="width: 98%;" class="bar"></span>

								</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="task">

								<span class="desc">Database migration</span>

								<span class="percent">10%</span>

								</span>

								<span class="progress progress-warning progress-striped">

								<span style="width: 10%;" class="bar"></span>

								</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="task">

								<span class="desc">Web server upgrade</span>

								<span class="percent">58%</span>

								</span>

								<span class="progress progress-info">

								<span style="width: 58%;" class="bar"></span>

								</span>

								</a>

							</li>

							<li>

								<a href="#">

								<span class="task">

								<span class="desc">Mobile development</span>

								<span class="percent">85%</span>

								</span>

								<span class="progress progress-success">

								<span style="width: 85%;" class="bar"></span>

								</span>

								</a>

							</li>

							<li class="external">

								<a href="#">See all tasks <i class="m-icon-swapright"></i></a>

							</li>

						</ul>

					</li>

					<!-- END TODO DROPDOWN -->

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="/static/media/image/avatar1_small.jpg" />

						<span class="username">Bob Nilson</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">

							<li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>

							<li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>

							<li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox(3)</a></li>

							<li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>

							<li class="divider"></li>

							<li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>

							<li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>

						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-home"></i>

					<span class="title">智慧教学</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="layout_horizontal_sidebar_menu.html">

							试题管理</a>

						</li>

						<li >

							<a href="layout_horizontal_menu1.html">

							课程管理</a>

						</li>

					</ul>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-th-list"></i>

					<span class="title">协作办公</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="/coordinative_project_manage/">

							工程管理</a>

						</li>

						<li >

							<a href="#">

							任务管理</a>

						</li>

					</ul>

				</li>

				<li>

					<a href="javascript:;">

					<i class="icon-bookmark-empty"></i>

					<span class="title">社交平台</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="maps_google.html">

							教师中心                   </a>

						</li>

						<li >

							<a href="maps_vector.html">

							学生中心                   </a>

						</li>

                        <li >

							<a href="maps_vector.html">

							家长中心                   </a>

						</li>

                        <li >

							<a href="maps_vector.html">

							助教中心                   </a>

						</li>

					</ul>

				</li>

                <li class="active">

					<a href="javascript:;">

					<i class="icon-file-text"></i>

					<span class="title">系统管理</span>

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="maps_google.html">

							用户管理                   </a>

						</li>

						<li >

							<a href="maps_vector.html">

							权限管理                   </a>

						</li>

						<li >

							<a href="maps_vector.html">

							消息管理                   </a>

						</li>

					</ul>

				</li>

				<li class="last">

					<a href="login.html">

					<i class="icon-user"></i>

					<span class="title">Login Page</span>

					</a>

				</li>

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->  

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							用户管理

						</h3>

						<ul class="breadcrumb">

							<li>

								<a href="#">系统管理</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">用户管理</a>

                                <i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">添加用户</a>

							</li>

						</ul>

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<div class="portlet box blue" id="form_wizard_1">

							<div class="portlet-title">

								<div class="caption">

									<i class="icon-reorder"></i><span class="step-title">第 1 步 / 共 4 步</span>

								</div>

								<div class="tools hidden-phone">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

								</div>

							</div>

							<div class="portlet-body form">

								<form action="#" class="form-horizontal" id="submit_form">

									<div class="form-wizard">

										<div class="navbar steps">

											<div class="navbar-inner">

												<ul class="row-fluid">

													<li class="span3">

														<a href="#tab1" data-toggle="tab" class="step active">

														<span class="number">1</span>

														<span class="desc"><i class="icon-ok"></i>第 1 步</span>

														</a>

													</li>

													<li class="span3">

														<a href="#tab2" data-toggle="tab" class="step">

														<span class="number">2</span>

														<span class="desc"><i class="icon-ok"></i>第 2 步</span>

														</a>

													</li>

													<li class="span3">

														<a href="#tab3" data-toggle="tab" class="step">

														<span class="number">3</span>

														<span class="desc"><i class="icon-ok"></i>第 3 步</span>

														</a>

													</li>

													<li class="span3">

														<a href="#tab4" data-toggle="tab" class="step">

														<span class="number">4</span>

														<span class="desc"><i class="icon-ok"></i> 第 4 步</span>

														</a> 

													</li>

												</ul>

											</div>

										</div>

										<div id="bar" class="progress progress-success progress-striped">

											<div class="bar"></div>

										</div>

										<div class="tab-content">

											<div class="alert alert-error hide">

												<button class="close" data-dismiss="alert"></button>

												表格信息填写有误！请仔细核查！

											</div>

											<div class="alert alert-success hide">

												<button class="close" data-dismiss="alert"></button>

												表格验证成功!

											</div>

											<div class="tab-pane active" id="tab1">

												<h3 class="block">用户信息</h3>

												<div class="control-group">

													<label class="control-label">用户名<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="username"/>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">密码<span class="required">*</span></label>

													<div class="controls">

														<input type="password" class="span6 m-wrap" name="password" id="submit_form_password"/>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">确认密码<span class="required">*</span></label>

													<div class="controls">

														<input type="password" class="span6 m-wrap" name="rpassword"/>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">邮箱<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="email"/>

													</div>

												</div>

											</div>

											<div class="tab-pane" id="tab2">

												<h3 class="block">用户信息</h3>

												<div class="control-group">

													<label class="control-label">姓名<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="name"/>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">电话号码<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="phone"/>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">性别<span class="required">*</span></label>

													<div class="controls">

														<label class="radio">

														<input type="radio" name="gender" value="M" data-title="男" />

														男

														</label>

														<div class="clearfix"></div>

														<label class="radio">

														<input type="radio" name="gender" value="F" data-title="女"/>

														女

														</label>  

														<div id="form_gender_error"></div>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">住址<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="address" />

													</div>

												</div>

                                                <!--

												<div class="control-group">

													<label class="control-label">备注</label>

													<div class="controls">

														<textarea class="span6 m-wrap" rows="3" name="remarks"></textarea>

													</div>

												</div>

                                                -->

											</div>

											<div class="tab-pane" id="tab3">

												<h3 class="block">用户信息</h3>

												<div class="control-group">

													<label class="control-label">政治面貌<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="card_name" />

														<span class="help-inline"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">身份证号<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" name="card_number"/>

														<span class="help-inline"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">出生日期<span class="required">*</span></label>

													<div class="controls">

														<input type="text" placeholder="年" maxlength="4" class="m-wrap small" name="card_expiry_yyyy"/>

														<input type="text" placeholder="月" maxlength="2" class="m-wrap small" name="card_expiry_mm"/>

														<input type="text" placeholder="日" maxlength="2" class="m-wrap small" name="card_expiry_dd"/>

														<span class="help-inline"></span>

													</div>

												</div>

											</div>

											<div class="tab-pane" id="tab4">

												<h3 class="block">确认用户信息</h3>

                                                <!--

												<h4 class="form-section">Account</h4>

                                                -->

												<div class="control-group">

													<label class="control-label">用户名:</label>

													<div class="controls">

														<span class="text display-value" data-display="username"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">邮箱:</label>

													<div class="controls">

														<span class="text display-value" data-display="email"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">姓名:</label>

													<div class="controls">

														<span class="text display-value" data-display="name"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">性别:</label>

													<div class="controls">

														<span class="text display-value" data-display="gender"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">电话:</label>

													<div class="controls">

														<span class="text display-value" data-display="phone"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">地址:</label>

													<div class="controls">

														<span class="text display-value" data-display="address"></span>

													</div>

												</div>

                                                <!--

												<div class="control-group">

													<label class="control-label">Remarks:</label>

													<div class="controls">

														<span class="text display-value" data-display="remarks"></span>

													</div>

												</div>

                                                -->

												<div class="control-group">

													<label class="control-label">政治面貌:</label>

													<div class="controls">

														<span class="text display-value" data-display="card_name"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">身份证号:</label>

													<div class="controls">

														<span class="text display-value" data-display="card_number"></span>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">出生日期:</label>

													<div class="controls">

														<span class="text display-value" data-display="card_expiry"></span>

													</div>

												</div>

											</div>

										</div>

										<div class="form-actions clearfix">

											<a href="javascript:;" class="btn button-previous">

											<i class="m-icon-swapleft"></i> 返回

											</a>

											<a href="javascript:;" class="btn blue button-next">

											下一步 <i class="m-icon-swapright m-icon-white"></i>

											</a>

											<a href="javascript:;" class="btn green button-submit">

											提交 <i class="m-icon-swapright m-icon-white"></i>

											</a>

										</div>

									</div>

								</form>

							</div>

						</div>

					</div>

				</div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2016 &copy; 智慧教育

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="/static/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="/static/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="/static/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

	<script src="/static/media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="/static/media/js/excanvas.min.js"></script>

	<script src="/static/media/js/respond.min.js"></script>

	<![endif]-->   

	<script src="/static/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="/static/media/js/jquery.blockui.min.js" type="text/javascript"></script>

	<script src="/static/media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="/static/media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="/static/media/js/jquery.validate.min.js"></script>

	<script type="text/javascript" src="/static/media/js/additional-methods.min.js"></script>

	<script type="text/javascript" src="/static/media/js/jquery.bootstrap.wizard.min.js"></script>

	<script type="text/javascript" src="/static/media/js/chosen.jquery.min.js"></script>

	<script type="text/javascript" src="/static/media/js/select2.min.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="/static/media/js/app.js"></script>

	<script src="/static/media/js/form-wizard.js"></script>

	<!-- END PAGE LEVEL SCRIPTS -->

	<script>

		jQuery(document).ready(function() {       

		   // initiate layout and plugins

		   App.init();

		   FormWizard.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->   

</body>

<!-- END BODY -->

</html>